{{ template "header.gohtml" }}

<h1>Edit User</h1>
<p>ID: {{ .ID }}</p>
<p>First Name: {{.Username}}</p>
<p>Last Name: {{.Password}}</p>
<p>Email: {{.Token}}</p>

<p>Detail: {{.Detail.MakePass}}</p>

{{ template "footer.gohtml" }}